<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"></meta>
    <link rel="stylesheet" href="{{url_for('static', filename='ol.css')}}" type="text/css">
    <script src="{{url_for('static', filename='ol.js')}}"></script>
    <style>
    #find{
      border-radius: 50%;
      border: 1px solid #000;
      background-image: url("{{url_for('static', filename='button_512.png')}}");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-origin: content-box;
      padding: 1.5%;
    }
    </style>
    <title>Routing</title>
  </head>
  <body>
    <div></div>
    <div id="map" class="ol-box ol-unselectable ol-attribution ol-uncollapsible" style="position:absolute; left:0px; top:0px; height:98vh; width:98%; margin:1%;"></div>
    <button type="button" id="find" style="position:absolute; bottom:0px; right:0px; margin:5%;" onclick="sendCoords()"></button>
    <script type="text/javascript" src="{{url_for('static', filename='map_gen.js')}}"></script>
  </body>
</html>
