button{
  border-radius: 50%;
  border: 1px solid;
}
#find{
  position:absolute;
  bottom:0px;
  right:0px;
  margin:4%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-origin: content-box;
  padding: 1.5%;
  background-color: #69f;
}
#find:hover {
  background-color: #66e;
}
#find:active {
  background-color: #555;
}
body{
  background-color: #def;
}
#map {
  position:absolute;
  left:1%;
  top:1%;
  height:96vh;
  width:96vw;
  margin:1%;
}
#plus, #minus{
  position: absolute;
  margin: 3%;
  text-align: center;
  vertical-align:middle;
  background-color: #777;
}
#plus{
  right: 0px;
}
