button{
  border-radius: 50%;
  border: 1px solid;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-origin: content-box;
  padding: 1.5%;
}
#find.classic{
  position:absolute;
  bottom:0px;
  right:0px;
  margin:4% 4% 4% 5%;
  background-color: #69f;
}
#find:hover {
  background-color: #66e;
}
#find:active {
  background-color: #555;
}
body{
  background-color: #def;
}
#map {
  position:absolute;
  left:1%;
  top:1%;
  height:98vh;
  width:99vw;
  margin:0px;
}
#plus, #minus{
  text-align: center;
  vertical-align:middle;
  position: absolute;
}
#plus.classic, #minus.classic{
  margin: 0px 2% 3% 4%;
}
#plus{
  background-color: #77ce7d;
}
#plus:hover{
  background-color: #58995d;
}
#plus:active{
  background-color: #2c4c2e;
}
#minus{
  background-color: #ce7d77;
  padding: 1%;
  background-size: 75%;
}
#minus:hover{
  background-color: #995d58;
}
#minus.pressed{
  background-color: #4c2e2c;
}
#modal.notLoading {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(255,255,255,0.5);
}
#loadtext {
  font-family: Arial, sans-serif;
  text-align: center;
  vertical-align:middle;
  font-size: 10vh;
  color: black;
  margin: 20vh auto;
  padding: 10vh;
}
.ol-popup {
  position: absolute;
  background-color: white;
  font-family: Arial, sans-serif;
  color: black;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -25px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
