<html lang="en">
  <head>
    <!--Jinja2 template-->
    <meta charset="utf-8"></meta>
    <link rel="stylesheet" href="{{url_for('static', filename='src/ol.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='route_styling.css')}}" type="text/css">
    <style>
      #find {
        background-image: url('{{url_for("static", filename="button_512.png")}}');
      }
    </style>
    <title>Routing</title>
  </head>
  <body>
    <div></div>
    <div id="map" class="ol-box ol-unselectable ol-attribution ol-uncollapsible"></div>
    <button type="button" id="find" class="classic" onclick="sendCoords()"></button>
    <button type="button" id="plus" class="classic" onclick="addRoute()">+</button>
    <button type="button" id="minus" class="classic" onclick="removeRoute()">-</button>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='map_gen.js')}}"></script>
  </body>
</html>
